@use '../utils/variables' as *;
@use '../utils/globals' as *;

.bg {
  min-height: 400px;
  background-color: $background-graphite;
  background-image: linear-gradient($background-shadow-four, $background-shadow-four),
    url(../images/background/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;

  &__content {
    @include mixin-main($color-white, 700, 26px, 1.62, 0.06em);
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
  &__text {
    @include mixin-main($color-white, 700, 16px, 1.875, 0.06em);
    padding: 10px 42px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px $background-shadow-fiveteen;
    border-radius: 4px;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: $background-blue;
    border: $color-blue;
  }
  &__text:hover {
    background-color: $color-white;
    color: $color-blue;
  }
}

// RESPONSIVE IMAGE
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg {
    background-image: linear-gradient($background-shadow-four, $background-shadow-four),
      url(../images/background/background@2x.jpg);
    // background-size: cover;
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .bg {
    background-image: linear-gradient($background-shadow-four, $background-shadow-four),
      url(../images/background/background@3x.jpg);
    // background-size: cover;
  }
}

// DESKOP
@media screen and (min-width: $deskopStart) {
  .bg {
    height: 600px;
    background-size: 1600px;
  }
  .bg__content {
    @include mixin-main($color-white, 900, 44px, 1.36, 0.06em);
  }
}
